* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400  ;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


h2 {
    font-size:3.75em;
}

h3 {
    font-size: 2em;;
}

p {
    font-size: 1.4em;
}

section {
    padding: 2% 11% 2% 11%;
    display: flex;
    flex-direction: column;
}

.header {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.3em;
    padding-top: 1%;
}

.header ul {
    margin: auto;
    padding: 0;
    align-items: center;
    display: flex;
    list-style-type: none;

}

.header ul li {
    padding: 0.3em 1em 0.3em 1em;
    cursor:pointer;
}

#about * {
    margin: 0;
    padding-bottom: 1%;
}

#about h2 {
    padding-bottom: 0;
}

#about p {
    margin:0;
    padding-right: 45%;
}









@media (max-width: 480px) {
    body {
        font-size: 0.6em;
    }

    .header {
        padding-top:3%;
        padding-bottom:1.5%;
    }
}