* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400  ;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

div {
    display:flex;
}

h2 {
    font-size:3.75em;
}

h3 {
    font-size: 2em;;
}

p {
    font-size: 1.2em;
}

section {
    padding: 2% 11% 2% 11%;
    display: flex;
    flex-direction: column;
}

.header {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.3em;
    padding-top: 1%;
}

.header ul {
    margin: auto;
    padding: 0;
    align-items: center;
    display: flex;
    list-style-type: none;

}

.header ul li {
    padding: 0.3em 1em 0.3em 1em;
    cursor:pointer;
}

#about * {
    margin: 0;
    padding-bottom: 1%;
}

#about h2 {
    padding-bottom: 0;
}

#about p {
    margin:0;
    padding-right: 45%;
    font-size: 1.4em;
}

#contact h2 {
    margin:0;
}

#contact-body {
    padding: 2% 5% 2% 5%;
    margin:0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#contact-body * {
    margin: 0;
}

#info, #contact-form {
    flex-direction: column;
    flex: 1;
    align-self: stretch;
}

#info * {
    margin:0.5%;
}

#socials {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 3em 0 0 0;
    margin: 0;
    gap: 0.75em;
}

#socials li {
    display: flex;
    align-items:center;
    gap: 0.2em;
    font-size: 1.3em;
}

#socials a {
    color:black;
    text-decoration-line: none;
}

.icon {
    width: 2em;
    height: 2em;
    object-fit: contain;
    cursor: pointer;
}

#contact-form {
    display:flex;
    gap: 1.5em;
}

#contact-form h3 {
    font-size:1.3em;
    display: flex;
    align-items: center;
    margin:0;
    padding:0;
}

.pair {
    flex-direction: column;
    flex: 1;
    gap:0.3em;
}

.pair input, .large-pair textarea {
    border-radius: 8px;
    font-size: 1.3em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.large-pair {
    flex-direction: column;
    flex: 2;
    gap:0.3em;
}

.large-pair textarea {
    resize: none;
}

#contact-form button {
    border-radius: 8px;
    font-size: 1.3em;
    padding: 0.2em;
    cursor:pointer;
}



@media (max-width: 480px) {
    body {
        font-size: 0.6em;
    }

    .header {
        padding-top:3%;
        padding-bottom:1.5%;
    }
}